extends  ../admin_layout

block scripts
    script(src="/javascripts/opd.js")

block content
    br
    //.well.well-sm.alert.alert-warning(role='alert')
    .panel.panel-primary#Save_opdtime
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; บันทึกข้อมูลบริการ service time OPD ประจำวันที่ #{session.date_now}
        .panel-body
            .row
                .col-md-12
                    h3.panel-title
                        i.fa.fa-comments-o
                        | &nbsp; ระยะเวลาให้บริการผู้ป่วยนอก รพ.กันทรวิชัย
                        button.btn.btn-xs.btn-primary.pull-right#btnShowSearch
                            i.fa.fa-search.fa-lg
                            | &nbsp; ค้นหา
            .row
                .col-md-3
                    form.form-inline
                        .form-group.has-feedback
                            label(for="txtHN") HN :
                            | &nbsp;&nbsp;
                            input#txtHN(type="text",placeholder="กรุณาระบุ HN").form-control.css-require
                            | &nbsp;&nbsp;
                .col-md-3
                        .form-group.has-feedback
                            label(for="txtDate_service") วันที่ :
                            | &nbsp;&nbsp;
                            #datetimepicker1.input-group(data-datepicker)
                                input#txtDate_service.form-control(type='text')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                .col-md-4
                        .form-group.has-feedback
                            label(for="slTreatment_service") ประเภทการตรวจ :
                            | &nbsp;&nbsp;
                            select#slTreatment_service.form-control.css-require
                                option(value="") กรุณาเลือกรายการ....
                                for b in data.treatments
                                    option(value="#{b.id}") #{b.name}
                    | &nbsp;
            .row
                .col-md-3
                    form.form-inline
                        .form-group.has-feedback
                            label(for="slType_service") บริการที่ได้รับ :
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            select#slType_service.form-control.css-require
                                option(value="") กรุณาเลือกรายการ....
                                for a in data.types
                                    option(value="#{a.id}") #{a.name}
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                .col-md-9
                        .form-group.has-feedback#show_service_other
                            label(for="txtService_other") กรณีประเภทอื่นๆ :
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            input#txtService_other(type="text").form-control.css-require
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    | &nbsp;
            .row
                .col-md-12
                    table.table.table-bordered
                        thead
                            tr
                                th กิจกรรมบริการ
                                th เวลาเริ่มต้น
                                th เวลาสิ้นสุด
                        tbody
                            tr
                                td ห้องบัตร
                                td(style="width : 120px")
                                    .input-group(data-timepicker)
                                        input#txtVsttime_card(type="text").form-control.css-require
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-time
                                td(style="width : 120px")
                                    .input-group(data-timepicker)
                                        input#txtFinish_card(type="text").form-control.css-require
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-time
                            tr
                                td ซักประวัติ
                                td(style="width : 120px")
                                    .input-group(data-timepicker)
                                        input#txtVsttime_screen(type="text").form-control.css-require
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-time
                                td(style="width : 120px")
                                    .input-group(data-timepicker)
                                        input#txtFinish_screen(type="text").form-control.css-require
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-time
                            tr
                                td พบแพทย์
                                td(style="width : 120px")
                                    .input-group(data-timepicker)
                                        input#txtVsttime_doctor(type="text").form-control.css-require
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-time
                                td(style="width : 120px")
                                    .input-group(data-timepicker)
                                        input#txtFinish_doctor(type="text").form-control.css-require
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-time
                            tr#case_special
                                td
                                    .col-md-12
                                        table.table.table-bordered
                                            thead
                                                tr
                                                    th ตรวจพิเศษ กิจกรรมบริการ
                                                    th เวลาเริ่มต้น
                                                    th เวลาสิ้นสุด
                                            tbody
                                                tr
                                                    td Lab
                                                    td(style="width : 120px")
                                                        .input-group(data-timepicker)
                                                            input#txtVsttime_lab(type="text").form-control.css-require
                                                            span.input-group-addon
                                                                span.glyphicon.glyphicon-time
                                                    td(style="width : 120px")
                                                        .input-group(data-timepicker)
                                                            input#txtFinish_lab(type="text").form-control.css-require
                                                            span.input-group-addon
                                                                span.glyphicon.glyphicon-time
                                                tr
                                                    td X-ray
                                                    td(style="width : 120px")
                                                        .input-group(data-timepicker)
                                                            input#txtVsttime_xray(type="text").form-control.css-require
                                                            span.input-group-addon
                                                                span.glyphicon.glyphicon-time
                                                    td(style="width : 120px")
                                                        .input-group(data-timepicker)
                                                            input#txtFinish_xray(type="text").form-control.css-require
                                                            span.input-group-addon
                                                                span.glyphicon.glyphicon-time
                                                tr
                                                    td EKG
                                                    td(style="width : 120px")
                                                        .input-group(data-timepicker)
                                                            input#txtVsttime_ekg(type="text").form-control.css-require
                                                            span.input-group-addon
                                                                span.glyphicon.glyphicon-time
                                                    td(style="width : 120px")
                                                        .input-group(data-timepicker)
                                                            input#txtFinish_ekg(type="text").form-control.css-require
                                                            span.input-group-addon
                                                                span.glyphicon.glyphicon-time
                                                tr
                                                    td อื่นๆ
                                                    td(style="width : 120px")
                                                        .input-group(data-timepicker)
                                                            input#txtVsttime_other(type="text").form-control.css-require
                                                            span.input-group-addon
                                                                span.glyphicon.glyphicon-time
                                                    td(style="width : 120px")
                                                        .input-group(data-timepicker)
                                                            input#txtFinish_other(type="text").form-control.css-require
                                                            span.input-group-addon
                                                                span.glyphicon.glyphicon-time
                            tr
                                td ให้คำแนะนำ/รับใบนัด/ใบส่งต่อ
                                td(style="width : 120px")
                                    .input-group(data-timepicker)
                                        input#txtVsttime_appointment(type="text").form-control.css-require
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-time
                                td(style="width : 120px")
                                    .input-group(data-timepicker)
                                        input#txtFinish_appointment(type="text").form-control.css-require
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-time
                            tr
                                td รับยา
                                td(style="width : 120px")
                                    .input-group(data-timepicker)
                                        input#txtVsttime_drugs(type="text").form-control.css-require
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-time
                                td(style="width : 120px")
                                    .input-group(data-timepicker)
                                        input#txtFinish_drugs(type="text").form-control.css-require
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-time
            button(type="button").btn.btn-primary#btnSave บันทึก
    .panel.panel-primary#Block_Search
        .panel-heading
            h3.panel-title
                i.fa.fa-search
                | &nbsp; ค้นหาข้อมูลบริการ service time OPD
        .panel-body
            div.form-inline
                .row
                    .col-md-12
                        button.close(type='button', aria-label='Close')#close_Search
                            span(aria-hidden='true') &times;
                .row
                    .col-md-12
                        .form-group
                            label วันที่
                            | &nbsp;&nbsp;&nbsp;&nbsp;
                            #datetimepicker2.input-group(data-datepicker)
                                input#Date_Search1.form-control(type='text')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            label ถึง
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            #datetimepicker3.input-group(data-datepicker)
                                input#Date_Search2.form-control(type='text')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            button#btnSearch(type="button").btn.btn-primary.btn-sm ค้นหา
    .panel.panel-primary#Show_opdtime
        .panel-heading
        .panel-body
            table.table.striped#tblOPD_Service
                thead
                    tr
                        td ลำดับ
                        td วันที่มารับบริการ
                        td HN
                        td ประเภทการตรวจ
                        td บริการที่ได้รับ
                        td(style="width : 100px")
                            i.fa.fa-cog.fa-spin.fa-3w.fa-fw
                    tbody
    .panel.panel-primary#Block_Report_normal
        .panel-heading
            h3.panel-title
                i.fa.fa-search
                | &nbsp; ส่งออกรายงาน Service Time OPD ประเภทตรวจทั่วไป
        .panel-body
            div.form-inline
                .row
                    .col-md-12
                        button.close(type='button', aria-label='Close')#close_Report_normal
                            span(aria-hidden='true') &times;
                .row
                    .col-md-12
                        .form-group
                            label วันที่
                            | &nbsp;&nbsp;&nbsp;&nbsp;
                            //input#Date_Report_normal1(type="date").form-control
                            #datetimepicker5.input-group(data-datepicker)
                                input#Date_Report_normal1.form-control(type='text')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            label ถึง
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            //input#Date_Report_normal2(type="date").form-control
                            #datetimepicker6.input-group(data-datepicker)
                                input#Date_Report_normal2.form-control(type='text')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            button#btnReport_normal(type="button").btn.btn-primary.btn-sm ส่งออก
                | &nbsp;
                //.row
                    .col-md-12
                            label จำนวนข้อมูล
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            input#txtNumber_row(type="text",placeholder="กรุณาระบุจำนวนแถวที่ต้องการ").form-control.css-require
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            button#btnReport_normal(type="button").btn.btn-primary.btn-sm ส่งออก
    .panel.panel-primary#Block_Report_special
        .panel-heading
            h3.panel-title
                i.fa.fa-search
                | &nbsp; ส่งออกรายงาน Service Time OPD ประเภทตรวจพิเศษ
        .panel-body
            div.form-inline
                .row
                    .col-md-12
                        button.close(type='button', aria-label='Close')#close_Report_special
                            span(aria-hidden='true') &times;
                .row
                    .col-md-12
                        .form-group
                            label วันที่
                            | &nbsp;&nbsp;&nbsp;&nbsp;
                            //input#Date_Report_special1(type="date").form-control
                            #datetimepicker7.input-group(data-datepicker)
                                input#Date_Report_special1.form-control(type='text')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            label ถึง
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            //input#Date_Report_special2(type="date").form-control
                            #datetimepicker8.input-group(data-datepicker)
                                input#Date_Report_special2.form-control(type='text')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            button#btnReport_special(type="button").btn.btn-primary.btn-sm ส่งออก
                | &nbsp;
                //.row
                    .col-md-12
                        label จำนวนข้อมูล
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        input#txtNumber_row2(type="text",placeholder="กรุณาระบุจำนวนแถวที่ต้องการ").form-control.css-require
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        button#btnReport_special(type="button").btn.btn-primary.btn-sm ส่งออก
    .modal.fade#mdlNew(tabindex="-1",role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title
                        i.fa.fa-search.fa-lg
                        | &nbsp;รายละเอียด
                .modal-body(style="padding-top: 20px;")
                    input(type="hidden")#txtId
                    .row
                        form.form-inline
                            .form-group.has-feedback
                                label(for="txtHN2") HN:
                                | &nbsp;&nbsp;
                                input#txtHN2(type="text").form-control.css-require
                                | &nbsp;&nbsp;
                            .form-group.has-feedback
                                label(for="#txtDate_service2") วันที่:
                                | &nbsp;&nbsp;
                                #datetimepicker4.input-group(data-datepicker)
                                    input#txtDate_service2.form-control(type='text')
                                    span.input-group-addon
                                        span.glyphicon.glyphicon-calendar
                        | &nbsp;
                    .row
                        form.form-inline
                            .form-group.has-feedback
                                label(for="slTreatment_service2") ประเภทการตรวจ:
                                | &nbsp;
                                select#slTreatment_service2.form-control.css-require
                                    option(value="") กรุณาเลือกรายการ....
                                    for b in data.treatments
                                        option(value="#{b.id}") #{b.name}
                            .form-group.has-feedback
                                label(for="slType_service2") บริการที่ได้รับ:
                                | &nbsp;
                                select#slType_service2.form-control.css-require
                                    option(value="") กรุณาเลือกรายการ....
                                    for a in data.types
                                        option(value="#{a.id}") #{a.name}
                        | &nbsp;
                    .row
                        .col-md-12
                            .form-group.has-feedback#show_service_other2
                                    label(for="txtService_other2") กรณีประเภทอื่นๆ :
                                    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    input#txtService_other2(type="text").form-control.css-require
                            | &nbsp;
                    .row
                        .col-md-12
                            table.table.table-bordered
                                thead
                                    tr
                                        th กิจกรรมบริการ
                                        th เวลาเริ่มต้น
                                        th เวลาสิ้นสุด
                                tbody
                                    tr
                                        td ห้องบัตร
                                        td(style="width : 120px")
                                            .input-group(data-timepicker)
                                                input#txtVsttime_card2(type="text").form-control.css-require
                                                span.input-group-addon
                                                    span.glyphicon.glyphicon-time
                                        td(style="width : 120px")
                                            .input-group(data-timepicker)
                                                input#txtFinish_card2(type="text").form-control.css-require
                                                span.input-group-addon
                                                    span.glyphicon.glyphicon-time
                                    tr
                                        td ซักประวัติ
                                        td(style="width : 120px")
                                            .input-group(data-timepicker)
                                                input#txtVsttime_screen2(type="text").form-control.css-require
                                                span.input-group-addon
                                                    span.glyphicon.glyphicon-time
                                        td(style="width : 120px")
                                            .input-group(data-timepicker)
                                                input#txtFinish_screen2(type="text").form-control.css-require
                                                span.input-group-addon
                                                    span.glyphicon.glyphicon-time
                                    tr
                                        td พบแพทย์
                                        td(style="width : 120px")
                                            .input-group(data-timepicker)
                                                input#txtVsttime_doctor2(type="text").form-control.css-require
                                                span.input-group-addon
                                                    span.glyphicon.glyphicon-time
                                        td(style="width : 120px")
                                            .input-group(data-timepicker)
                                                input#txtFinish_doctor2(type="text").form-control.css-require
                                                span.input-group-addon
                                                    span.glyphicon.glyphicon-time
                                    tr
                                        td
                                            .col-md-12
                                                table.table.table-bordered
                                                    thead
                                                        tr
                                                            th ตรวจพิเศษ กิจกรรมบริการ
                                                            th เวลาเริ่มต้น
                                                            th เวลาสิ้นสุด
                                                    tbody
                                                        tr
                                                            td Lab
                                                            td(style="width : 120px")
                                                                .input-group(data-timepicker)
                                                                    input#txtVsttime_lab2(type="text").form-control.css-require
                                                                    span.input-group-addon
                                                                        span.glyphicon.glyphicon-time
                                                            td(style="width : 120px")
                                                                .input-group(data-timepicker)
                                                                    input#txtFinish_lab2(type="text").form-control.css-require
                                                                    span.input-group-addon
                                                                        span.glyphicon.glyphicon-time
                                                        tr
                                                            td X-ray
                                                            td(style="width : 120px")
                                                                .input-group(data-timepicker)
                                                                    input#txtVsttime_xray2(type="text").form-control.css-require
                                                                    span.input-group-addon
                                                                        span.glyphicon.glyphicon-time
                                                            td(style="width : 120px")
                                                                .input-group(data-timepicker)
                                                                    input#txtFinish_xray2(type="text").form-control.css-require
                                                                    span.input-group-addon
                                                                        span.glyphicon.glyphicon-time
                                                        tr
                                                            td EKG
                                                            td(style="width : 120px")
                                                                .input-group(data-timepicker)
                                                                    input#txtVsttime_ekg2(type="text").form-control.css-require
                                                                    span.input-group-addon
                                                                        span.glyphicon.glyphicon-time
                                                            td(style="width : 120px")
                                                                .input-group(data-timepicker)
                                                                    input#txtFinish_ekg2(type="text").form-control.css-require
                                                                    span.input-group-addon
                                                                        span.glyphicon.glyphicon-time
                                                        tr
                                                            td อื่นๆ
                                                            td(style="width : 120px")
                                                                .input-group(data-timepicker)
                                                                    input#txtVsttime_other2(type="text").form-control.css-require
                                                                    span.input-group-addon
                                                                        span.glyphicon.glyphicon-time
                                                            td(style="width : 120px")
                                                                .input-group(data-timepicker)
                                                                    input#txtFinish_other2(type="text").form-control.css-require
                                                                    span.input-group-addon
                                                                        span.glyphicon.glyphicon-time
                                    tr
                                        td ให้คำแนะนำ/รับใบนัด/ใบส่งต่อ
                                        td(style="width : 120px")
                                            .input-group(data-timepicker)
                                                input#txtVsttime_appointment2(type="text").form-control.css-require
                                                span.input-group-addon
                                                    span.glyphicon.glyphicon-time
                                        td(style="width : 120px")
                                            .input-group(data-timepicker)
                                                input#txtFinish_appointment2(type="text").form-control.css-require
                                                span.input-group-addon
                                                    span.glyphicon.glyphicon-time
                                    tr
                                        td รับยา
                                        td(style="width : 120px")
                                            .input-group(data-timepicker)
                                                input#txtVsttime_drugs2(type="text").form-control.css-require
                                                span.input-group-addon
                                                    span.glyphicon.glyphicon-time
                                        td(style="width : 120px")
                                            .input-group(data-timepicker)
                                                input#txtFinish_drugs2(type="text").form-control.css-require
                                                span.input-group-addon
                                                    span.glyphicon.glyphicon-time
                .modal-footer
                    button.btn.btn-primary#btnEdit
                        i.fa.fa-save
                        | &nbsp; ปรับปรุงข้อมูล
                    button.btn.btn-danger(data-dismiss="modal")
                        i.fa.fa-close
                        | &nbsp; ปิดหน้าต่าง